---
layout: null
title: EcoNinjas - Wir wollen's wild
description: Die studierte Ökologin Michaela Powolny befasst sich -- auch im Blog --  mit den Themen Naturgarten, Artenvielfalt, Artenschutz, Arterhaltung, naturnahe Gärten, Minilebensräume, ökologische Freiflächen, Grünland, Umweltschutz, Umweltbildung, Ökologie, Ökonauten; erklärt Zusammenhänge, kämpft gegen irreführende Begriffe wie Schädling, Nützling und Unkraut, und hat ihren Lebensmittelpunkt in Kelheim in Bayern, nahe Regensburg, an der Grenze zwischen Niederbayern und Oberpfalz.
sitemap: sitemap.xml
priority: 1.0
lastmod: 2018-06-17
changefreq: weekly
---
<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}


  </head>
  <body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

      <!-- Intro -->
      <div id="intro">
        <h1>{{site.title}}</h1>
	<h2>Wir wollen's wild</h2>
<!--        <p>Beratung und Planung von Naturgärten, Minilebensräumen und ökologischen Freiflächen</p> -->
	<ul class="actions">
	  <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
	</ul>
      </div>

      <!-- Header -->
      <header id="header">
	<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
      </header>

      <!-- Nav -->
      <nav id="nav">

        {% include nav.html %}
      </nav>

      <!-- Main -->
      <div id="main">
	<!-- Featured Post -->
	<article class="post featured">
	  <header class="major">
            <p><i>Wir wollen's wild</i> - Dieses Motto ist Programm in einem Naturgarten.</p>
	  </header>
	  <p>Dabei muss es noch nicht mal wild aussehen, auch ein
            ordentlicher Garten kann wild sein. Wild sind aber die
            Pflanzen und Tiere in einem Naturgarten, denn sie sind
            hier beheimatet und wurden nicht künstlich durch
            Züchtungen auf Schönheit gezähmt. Wildnis ist ganz von
            allein schön und kann ein Fest für die Augen und die Sinne
            sein. Und sie kann ein faszinierendes Artenspektrum
            hervorbringen. In einem wilden Garten, einem naturnahen
            Garten, können du und deine Kinder jeden Tag Neues
            entdecken und lernen. Oder du kannst einfach die Seele
            baumeln lassen, während das Leben um dich herum tobt.</p>
          <span class="image left">
            <img src="/images/27.jpg">
            Naturgarten nach dem <a href="http://www.hortus-insectorum.de">Hortus-Prinzip</a>
          </span>
	</article>

	<!-- Posts -->
	<section class="posts">
          {% for post in site.posts limit:3 %}
          {% assign mod3 = forloop.index | modulo: 3 %}
  	  <article>
  	    <header>
  	      <span class="date">{{ post.date | date_to_string }}</span>
  	      <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  	    </header>
  	    <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  	    <p>{{ post.excerpt }}</p>
  	    <ul class="actions">
  	      <li><a href="{{ post.url | absolute_url }}" class="button">mehr</a></li>
  	    </ul>
  	  </article>
          {% endfor %}

	</section>

	<!-- Footer -->
	<footer>
          <ul class="actions">
            <li><a href="{{ "/blog/" | absolute_url }}" class="button">Zum Blog</a></li>
          </ul>
	</footer>

      </div>

      <!-- Footer -->
      {% include foot.html %}

    </div>

    <!-- Scripts -->
    {% include scripts-main.html %}
    {% include tracking.html %}

  </body>
</html>
