<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Startseite</a></li>
  <li class="{% if page.url contains '/WarumEinNaturgarten/' %} active {% endif %}"><a href="{{ "/WarumEinNaturgarten/" | absolute_url }}">Naturgarten</a></li>
  <li class="{% if page.url contains '/Naturgartenberatung/' %} active {% endif %} service"><a href="{{ "/Naturgartenberatung/" | absolute_url }}">Naturgartenberatung</a></li>
<!--  <li class="{% if page.url contains '/events/' %} active {% endif %}"><a href="{{ "/events/" | absolute_url }}">Termine</a></li> -->
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/wildnis/' %} active {% endif %}"><a href="{{ "/wildnis/" | absolute_url }}">Wildnis</a></li>
  <li class="{% if page.url contains '/Übermich/' %} active {% endif %}"><a href="{{ "/Übermich/" | absolute_url }}">Wir EcoNinjas</a></li>
</ul>
